<Configuration status="info" name="simple_netcat" packages="com.flowerfulfort.simplenc">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
        </Console>
        <File name="fout" fileName="log.log" append="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
            </PatternLayout>
        </File>

    </Appenders>

    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="stdout" />
            <AppenderRef ref="fout"/>
        </Root>
    </Loggers>
</Configuration>
